Repository hmcts/dlrm-data-ingest-aria, pull requests merged in 2025-05, with the labels that each got.

#2 feat: initial setup
  azure-pipelines.yaml
  components/aria-layer/example.tf
  components/aria-layer/init.tf
  components/aria-layer/inputs-optional.tf
  components/aria-layer/inputs-required.tf
  components/aria-layer/interpolated-defaults.tf
  components/aria-layer/locals.tf
  environments/prod/prod.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
Labels: sbox_aria - TerraformPlanApply/add-or-update, stg_aria - TerraformPlanApply/no-changes, prod_aria - TerraformPlanApply/no-changes

#3 fix: remove example storage
  components/aria-layer/example.tf
Labels: stg_aria - TerraformPlanApply/no-changes, prod_aria - TerraformPlanApply/no-changes, sbox_aria - TerraformPlanApply/destroy

#4 Creating initial function_app code
  azure-pipelines.yaml
  components/aria-layer/eventhub.tf
  components/aria-layer/function_app.tf
  components/aria-layer/interpolated-defaults.tf
  components/aria-layer/locals.tf
  components/aria-layer/storage_account.tf
  environments/sbox/sbox.tfvars
Labels: sbox_aria - TerraformPlanApply/no-changes, sbox_aria - Terraform Plan Apply/add-or-update, stg_aria - Terraform Plan Apply/no-changes

#6 Updating service plan subscription
  azure-pipelines.yaml
  components/aria-layer/function_app.tf
Labels: sbox_aria - Terraform Plan Apply/add-or-update

#7 Adding SP values. Testing using a data step to access KV created in m…
  components/aria-layer/eventhub.tf
  components/aria-layer/function_app.tf
  components/aria-layer/interpolated-defaults.tf
  components/aria-layer/key_vault.tf
  components/aria-layer/storage_account.tf
  components/aria-layer/variables.tf
Labels: sbox_aria - Terraform Plan Apply/add-or-update

#9 Adding App Insight CNXN String
  components/aria-layer/function_app.tf
  components/aria-layer/interpolated-defaults.tf
  components/aria-layer/key_vault.tf
Labels: sbox_aria - Terraform Plan Apply/add-or-update

#10 Adding additional app settings
  components/aria-layer/eventhub.tf
  components/aria-layer/function_app.tf
Labels: sbox_aria - Terraform Plan Apply/add-or-update

#12 Fixing typo APPLICATION_INSIGHTS to APPLICATIONINSIGHTS
  components/aria-layer/function_app.tf
Labels: sbox_aria - Terraform Plan Apply/add-or-update

#8 adding eventub file
  components/aria-layer/eventhubs.tf
Labels: sbox_aria - Terraform Plan Apply/add-or-update

#13 Adding functions_worker_runtime to azurefunction IAC
  components/aria-layer/eventhub.tf
  components/aria-layer/eventhubs.tf
  components/aria-layer/function_app.tf
Labels: sbox_aria - Terraform Plan Apply/add-or-update

#14 Adding LinuxFxVersion as Python3.9
  components/aria-layer/function_app.tf
Labels: sbox_aria - Terraform Plan Apply/add-or-update

#15 adding python_version in app stack
  components/aria-layer/function_app.tf
Labels: sbox_aria - Terraform Plan Apply/add-or-update

#16 adding list variables for eventhubs in the variables file and then ad…
  components/aria-layer/eventhubs.tf
  components/aria-layer/variables.tf
Labels: sbox_aria - Terraform Plan Apply/destroy

#18 Try using app.name as function_app_name
  components/aria-layer/function_app.tf
Labels: 1112: sbox_aria - Terraform Plan Apply/destroy

#21 Updating function_app supp resources and storage account to each.valu…
  components/aria-layer/function_app.tf
  components/aria-layer/storage_account.tf
Labels: 1112: sbox_aria - Terraform Plan Apply/destroy

#22 Removing storage accounts as not needed.
  components/aria-layer/function_app.tf
  components/aria-layer/storage_account.tf
Labels: 1112: sbox_aria - Terraform Plan Apply/destroy

#33 testing if we can access curates storage acc 4
  components/aria-layer/storage_account.tf
Labels: 1112: sbox_aria - Terraform Plan Apply/destroy

#36 adding in external and landing containers 3
  components/aria-layer/storage_account.tf
Labels: 1112: sbox_aria - Terraform Plan Apply/destroy

#37 adding in the variations of appels to eventhubs and secrets
  components/aria-layer/variables.tf
Labels: 1112: sbox_aria - Terraform Plan Apply/destroy

#44 Updating name from aplfp to aplftpa
  components/aria-layer/function_app.tf
  components/aria-layer/locals.tf
Labels: 1112: sbox_aria - Terraform Plan Apply/destroy

#60 cleaning up SP in pipeline / variables
  azure-pipelines.yaml
  components/aria-layer/init.tf
  components/aria-layer/key_vault.tf
  components/aria-layer/variables.tf
Labels: 1112: sbox_aria - Terraform Plan Apply/destroy

#73 Feature refactor code sbox stg prod
  azure-pipelines.yaml
  components/aria-layer/databricks.tf
  components/aria-layer/function_app.tf
  components/aria-layer/init.tf
  components/aria-layer/key_vault.tf
  components/aria-layer/variables.tf
  environments/sbox/sbox.tfvars
Labels: 1112: sbox_aria - Terraform Plan Apply/destroy
